*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:linear-gradient(180deg,#050816,#0b1437,#161d49);
  color:#fff;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  overflow:hidden;
  position:relative;
}

body::before{
  content:"";
  position:absolute;
  inset:0;
  background-image:
  radial-gradient(2px 2px at 20px 30px,#fff,transparent),
  radial-gradient(2px 2px at 120px 160px,#fff,transparent),
  radial-gradient(2px 2px at 250px 70px,#fff,transparent),
  radial-gradient(2px 2px at 420
