*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:linear-gradient(180deg,#050816,#0b1437,#161d49);
color:#fff;
text-align:center;
min-height:100vh;
overflow:hidden;
}

.slide{
display:none;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
}

.container{
padding:30px;
background:rgba(255,255,255,0.05);
border-radius:25px;
}

.time-card,.planet-card,.song-card{
margin:15px auto;
padding:20px;
width:260px;
background:rgba(255,255,255,0.08);
border-radius:15px;
}

#love-heart{
font-size:80px;
cursor:pointer;
animation:beat 1.2s infinite;
}

@keyframes beat{
0%{transform:scale(1);}
50%{transform:scale(1.2);}
100%{transform:scale(1);}
}

#hidden-star{
position:absolute;
top:20%;
right:10%;
opacity:0.5;
cursor:pointer;
}

.song-img{
width:200px;
border-radius:15px;
display:block;
margin:auto;
}

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.popup-content{
background:#111b3b;
padding:20px;
border-radius:20px;
width:90%;
max-width:500px;
}

/* التعديل الوحيد */
.popup-content img{
width:100%;
max-width:300px;
max-height:300px;
object-fit:contain;
display:block;
margin:0 auto 15px;
border-radius:15px;
}

#nextBtn{
position:fixed;
bottom:20px;
right:20px;
padding:10px 20px;
border:none;
border-radius:10px;
background:#ff9ac5;
cursor:pointer;
}

#engagedCountdown,
#weddingCountdown{
margin-top:10px;
font-size:15px;
color:#ffb3d9;
font-weight:bold;
}
/* NEW SECRET STAR */
#hidden-star2{
position:absolute;
bottom:18%;
left:8%;
font-size:18px;
opacity:0.4;
cursor:pointer;
transition:0.3s;
}

#hidden-star2:hover{
opacity:1;
transform:scale(1.2);
}
